# Northwind
## Database
We will learn
- how to markdown
- others

**This is a bold text**


This format highlists this 'word' if the word is a database table and i am going to add a line break right here to begin the next sentence on a new line.<br>This format highlists this 'word' if the word is a database table<br>
>I am trying to display a warning text

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="Northwind_ERD.png"  style="width:70%";/>
<br>
<br>
    <em>Figure 1: Northwind database ERD</em>
</div>

## Random Markdown Table

This table is to test my learning of markdown:

| Name | Country |
|----------------------------|------------|
| Ronaldo                       | Angola, Botswana, Comoros, Democratic Republic of Congo, Eswatini, Lesotho, Madagascar, Malawi, Mauritius, Mozambique, Namibia, Seychelles, South Africa, United Republic Tanzania, Zambia, Zimbabwe |
| Messi                        | Algeria, Libya, Mauritania, Morocco, Tunisia |
| Neymar                     | Benin, Burkina Faso, Cabo Verde, Cote dâ€™Ivoire, Gambia, Ghana, Guinea, Guinea-Bissau, Liberia, Mali, Niger, Nigeria, Senegal, Sierra Leone, Togo |
| Not Classified             | Other countries not listed above |

We will use this table when constructing our queries.

In [5]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

In [50]:
#Showing all tables present in the Northwind database
%time
%sql SELECT name FROM sqlite_master WHERE type='table';

Wall time: 0 ns
 * sqlite:///Northwind.db
Done.

[('Categories',),
 ('Customers',),
 ('Region',),
 ('Shippers',),
 ('Suppliers',),
 ('Employees',),
 ('EmployeeTerritories',),
 ('OrderDetails',),
 ('Orders',),
 ('Territories',),
 ('Products',)]

In [58]:
%%sql
SELECT 
    ContactName 
FROM 
    Customers 
WHERE 
    Country = 'Germany'
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Maria Anders',),
 ('Hanna Moos',),
 ('Sven Ottlieb',),
 ('Peter Franken',),
 ('Philip Cramer',),
 ('Renate Messner',),
 ('Alexander Feuer',),
 ('Henriette Pfalzheim',),
 ('Horst Kloss',),
 ('Karin Josephs',)]

In [59]:
%%sql

SELECT 
    ProductName, Discontinued
FROM 
    Products 
WHERE 
    UnitPrice > 30 
    AND Discontinued = 1
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Mishi Kobe Niku', 1),
 ('Alice Mutton', 1),
 ('Rssle Sauerkraut', 1),
 ('Thringer Rostbratwurst', 1),
 ('Perth Pasties', 1)]

In [60]:
%%sql

SELECT 
    ContactName, 
    Phone 
FROM 
    Customers 
WHERE 
    Country IN ('USA', 'Canada')
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Elizabeth Lincoln', '(604) 555-4729'),
 ('Howard Snyder', '(503) 555-7555'),
 ('Yoshi Latimer', '(503) 555-6874'),
 ('Yoshi Tannamuri', '(604) 555-3392'),
 ('John Steel', '(509) 555-7969'),
 ('Jaime Yorres', '(415) 555-5938'),
 ('Fran Wilson', '(503) 555-9573'),
 ('Jean Fresnire', '(514) 555-8054'),
 ('Rene Phillips', '(907) 555-7584'),
 ('Paula Wilson', '(505) 555-5939')]

In [61]:
%%sql

SELECT 
    * 
FROM 
    Orders 
WHERE 
    CustomerID IN ('VINET', 'QUICK', 'SUPRD')
    AND ShipVia IN (1,2)
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(10252, 'SUPRD', 4, '1996-07-09 00:00:00', '1996-08-06 00:00:00', '1996-07-11 00:00:00', 2, 51.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10274, 'VINET', 6, '1996-08-06 00:00:00', '1996-09-03 00:00:00', '1996-08-16 00:00:00', 1, 6.01, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10285, 'QUICK', 1, '1996-08-20 00:00:00', '1996-09-17 00:00:00', '1996-08-26 00:00:00', 2, 76.83, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10295, 'VINET', 2, '1996-09-02 00:00:00', '1996-09-30 00:00:00', '1996-09-10 00:00:00', 2, 1.15, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10302, 'SUPRD', 4, '1996-09-10 00:00:00', '1996-10-08 00:00:00', '1996-10-09 00:00:00', 2, 6.27, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10313, 'QUICK', 2, '1996-09-24 00:00:00', '1996-10-22 00:00:00', '1996-10-04 00:00:00', 2, 1.96, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10345, 'QUICK', 2, '1996-11-04 00:00:00', '1996-12-02 00:00:00', '1996-11-11 00:00:00', 2, 249.06, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10361, 'QUICK', 1, '1996-11-22 00:00:00', '1996-12-20 00:00:00', '1996-12-03 00:00:00', 2, 183.17, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10418, 'QUICK', 4, '1997-01-17 00:00:00', '1997-02-14 00:00:00', '1997-01-24 00:00:00', 1, 17.55, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10475, 'SUPRD', 9, '1997-03-14 00:00:00', '1997-04-11 00:00:00', '1997-04-04 00:00:00', 1, 68.52, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')]

In [62]:
%%sql

SELECT 
    FirstName, 
    LastName 
FROM 
    Employees 
WHERE 
    (Title = 'Sales Representative' OR Title = 'Sales Manager') 
    AND City = 'London'
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Steven', 'Buchanan'),
 ('Michael', 'Suyama'),
 ('Robert', 'King'),
 ('Anne', 'Dodsworth')]

In [74]:
%sql SELECT * FROM Customers LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitucin 2222', 'Mxico D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquera', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'Mxico D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbkp', 'Christina Berglund', 'Order Administrator', 'Berguvsvgen  8', 'Lule', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
 ('BLONP', 'Blondesddsl pre et fils', 'Frdrique Citeaux', 'Marketing Manager', '24, place Klber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32'),
 ('BOLID', 'Blido Comidas preparadas', 'Martn Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
 ('BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41'),
 ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745')]

In [53]:
%%time
%%sql

CREATE VIEW CustomerOrderView AS
SELECT o.CustomerID, o.OrderID, o.OrderDate, c.CompanyName
FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID;

 * sqlite:///Northwind.db
(sqlite3.OperationalError) view CustomerOrderView already exists
[SQL: CREATE VIEW CustomerOrderView AS
SELECT o.CustomerID, o.OrderID, o.OrderDate, c.CompanyName
FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Wall time: 2.84 ms

In [55]:
%%sql

SELECT * 
FROM CustomerOrderView
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('VINET', 10248, '1996-07-04', '00:00:00', 'Vins et alcools Chevalier'),
 ('TOMSP', 10249, '1996-07-05', '00:00:00', 'Toms Spezialitten'),
 ('HANAR', 10250, '1996-07-08', '00:00:00', 'Hanari Carnes'),
 ('VICTE', 10251, '1996-07-08', '00:00:00', 'Victuailles en stock'),
 ('SUPRD', 10252, '1996-07-09', '00:00:00', 'Suprmes dlices'),
 ('HANAR', 10253, '1996-07-10', '00:00:00', 'Hanari Carnes'),
 ('CHOPS', 10254, '1996-07-11', '00:00:00', 'Chop-suey Chinese'),
 ('RICSU', 10255, '1996-07-12', '00:00:00', 'Richter Supermarkt'),
 ('WELLI', 10256, '1996-07-15', '00:00:00', 'Wellington Importadora'),
 ('HILAA', 10257, '1996-07-16', '00:00:00', 'HILARION-Abastos')]

In [52]:
%%sql

DROP VIEW IF EXISTS CustomerOrderView;

CREATE VIEW CustomerOrderView AS
SELECT o.CustomerID, o.OrderID, DATE(o.OrderDate) AS OrderDateOnly, TIME(o.OrderDate) AS OrderTimeOnly, c.CompanyName
FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID;

 * sqlite:///Northwind.db
Done.
Done.

[]

In [18]:
%sql SELECT * FROM OrderDetails LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(10248, 11, 14, 12, 0.0),
 (10248, 42, 9.8, 10, 0.0),
 (10248, 72, 34.8, 5, 0.0),
 (10249, 14, 18.6, 9, 0.0),
 (10249, 51, 42.4, 40, 0.0),
 (10250, 41, 7.7, 10, 0.0),
 (10250, 51, 42.4, 35, 0.0),
 (10250, 65, 16.8, 15, 0.0),
 (10251, 22, 16.8, 6, 0.0),
 (10251, 57, 15.6, 15, 0.0)]

In [27]:
%%sql

SELECT
    OrderID,
    ProductID,
    ROUND((Quantity*UnitPrice)) AS Total_Price
FROM OrderDetails
WHERE UnitPrice IS NOT NULL
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(10248, 11, 168.0),
 (10248, 42, 98.0),
 (10248, 72, 174.0),
 (10249, 14, 167.0),
 (10249, 51, 1696.0),
 (10250, 41, 77.0),
 (10250, 51, 1484.0),
 (10250, 65, 252.0),
 (10251, 22, 101.0),
 (10251, 57, 234.0)]

In [30]:
%%sql

SELECT
    OrderID,
    ProductID,
    IF(UnitPrice < 50, 1, 0) as ExpensivePrice,
    CASE
        WHEN  (UnitPrice / Quantity)*100 < IF(UnitPrice < 50, 1, 0)
            THEN 'Low'
        WHEN (UnitPrice / Quantity)*100 > IF(UnitPrice < 50, 1, 0)
            THEN 'High'
        ELSE 'Medium'
    END AS PriceGroup
FROM OrderDetails
WHERE UnitPrice IS NOT NULL
LIMIT 10;

 * sqlite:///Northwind.db
(sqlite3.OperationalError) no such function: IF
[SQL: SELECT
    OrderID,
    ProductID,
    CASE
        WHEN  (UnitPrice / Quantity)*100 < IF(UnitPrice < 50, 1, 0)
            THEN 'Low'
        WHEN (UnitPrice / Quantity)*100 > IF(UnitPrice < 50, 1, 0)
            THEN 'High'
        ELSE 'Medium'
    END AS PriceGroup
FROM OrderDetails
WHERE UnitPrice IS NOT NULL
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [35]:
%%sql

SELECT *
FROM Orders
WHERE ShipCity LIKE "%A%"
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[(10250, 'HANAR', 4, '1996-07-08 00:00:00', '1996-08-05 00:00:00', '1996-07-12 00:00:00', 2, 65.83, 'Hanari Carnes', 'Rua do Pao, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil'),
 (10252, 'SUPRD', 4, '1996-07-09 00:00:00', '1996-08-06 00:00:00', '1996-07-11 00:00:00', 2, 51.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10253, 'HANAR', 3, '1996-07-10 00:00:00', '1996-07-24 00:00:00', '1996-07-16 00:00:00', 2, 58.17, 'Hanari Carnes', 'Rua do Pao, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil'),
 (10257, 'HILAA', 4, '1996-07-16 00:00:00', '1996-08-13 00:00:00', '1996-07-22 00:00:00', 3, 81.91, 'HILARION-Abastos', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', 'Tchira', '5022', 'Venezuela'),
 (10258, 'ERNSH', 1, '1996-07-17 00:00:00', '1996-08-14 00:00:00', '1996-07-23 00:00:00', 1, 140.51, 'Ernst Handel', 'Kirchgasse 6', 'Graz', None, '8010', 'Austria')]

In [39]:
%%sql

SELECT
    CASE 
        WHEN ShipCountry IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini', 
                        'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia', 
                        'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
            THEN 'SADC'
            
        WHEN ShipCountry NOT IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
            THEN 'UMA'
            
        WHEN ShipCountry IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote dâ€™Ivoire', 'Gambia', 'Ghana', 'Guinea', 
                            'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
            THEN 'ECOWAS'
            
        ELSE 'Not Classified'
    END AS Regional_economic_community,
    ShipCountry,
    ShipRegion
FROM Orders
WHERE ShipRegion LIKE "%Africa%"
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[]

In [40]:
%%sql

SELECT
    MIN(OrderID) AS Min_OrderID,
    MAX(OrderID) AS Max_OrderID
FROM Orders;

 * sqlite:///Northwind.db
Done.

[(10248, 11077)]

In [42]:
%%sql

SELECT
    COUNT(DISTINCT OrderID) AS Number_of_Orders
FROM Orders;

 * sqlite:///Northwind.db
Done.

[(830,)]

In [56]:
%%sql

SELECT 
    City 
FROM 
    Customers
UNION
SELECT 
    City 
FROM 
    Employees
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(None,),
 ('Aachen',),
 ('Albuquerque',),
 ('Anchorage',),
 ('Barcelona',),
 ('Barquisimeto',),
 ('Bergamo',),
 ('Berlin',),
 ('Bern',),
 ('Boise',)]

In [48]:
%%sql

SELECT 
    c.ContactName, 
    o.OrderDate
FROM 
    Customers c
LEFT JOIN 
    Orders o
    ON c.CustomerId = o.CustomerId
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Maria Anders', '1997-08-25 00:00:00'),
 ('Maria Anders', '1997-10-03 00:00:00'),
 ('Maria Anders', '1997-10-13 00:00:00'),
 ('Maria Anders', '1998-01-15 00:00:00'),
 ('Maria Anders', '1998-03-16 00:00:00'),
 ('Maria Anders', '1998-04-09 00:00:00'),
 ('Ana Trujillo', '1996-09-18 00:00:00'),
 ('Ana Trujillo', '1997-08-08 00:00:00'),
 ('Ana Trujillo', '1997-11-28 00:00:00'),
 ('Ana Trujillo', '1998-03-04 00:00:00')]

In [46]:
%%sql

SELECT 
    customer.ContactName, 
    customer.Country,
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) AS TotalSalesAmount,
    product.ProductName,
    SUM(orderDetails.Quantity) AS TotalUnitsSold
FROM 
    Customers AS customer
JOIN 
    Orders AS orders 
    ON customer.CustomerID = orders.CustomerID
JOIN 
    OrderDetails AS orderDetails 
    ON orders.OrderID = orderDetails.OrderID
JOIN 
    Products AS product 
    ON orderDetails.ProductID = product.ProductID
WHERE 
    orders.OrderDate BETWEEN '1996-08-01' AND '1998-01-30'
GROUP BY 
    customer.ContactName,
    customer.Country, 
    product.ProductName
HAVING 
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) > 5000
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Georg Pipps', 'Austria', 10540.0, 'Cte de Blaye', 50),
 ('Horst Kloss', 'Germany', 6222.0, 'Camembert Pierrot', 194),
 ('Horst Kloss', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Horst Kloss', 'Germany', 5268.0, 'Schoggi Schokolade', 120),
 ('Howard Snyder', 'USA', 11857.5, 'Cte de Blaye', 45),
 ('Jean Fresnire', 'Canada', 10329.2, 'Cte de Blaye', 49),
 ('Jose Pavarotti', 'USA', 6832.4400000000005, 'Thringer Rostbratwurst', 60),
 ('Jytte Petersen', 'Denmark', 10540.0, 'Cte de Blaye', 50),
 ('Lcia Carvalho', 'Brazil', 8432.0, 'Cte de Blaye', 40),
 ('Patricia McKenna', 'Ireland', 5830, 'Raclette Courdavault', 112)]

## Avoid using the wildcard (`%`) at the beginning of a `LIKE` operator
#Random SQL tip!<br>
Example : Do WHERE TailNum LIKE 'N7%' instead of WHERE TailNum LIKE '%N7%'

In [64]:
%%sql

SELECT Customers.ContactName, Orders.OrderDate
FROM Customers, Orders
WHERE Customers.CustomerID = Orders.CustomerID
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Paul Henriot', '1996-07-04 00:00:00'),
 ('Karin Josephs', '1996-07-05 00:00:00'),
 ('Mario Pontes', '1996-07-08 00:00:00'),
 ('Mary Saveley', '1996-07-08 00:00:00'),
 ('Pascale Cartrain', '1996-07-09 00:00:00'),
 ('Mario Pontes', '1996-07-10 00:00:00'),
 ('Yang Wang', '1996-07-11 00:00:00'),
 ('Michael Holz', '1996-07-12 00:00:00'),
 ('Paula Parente', '1996-07-15 00:00:00'),
 ('Carlos Hernndez', '1996-07-16 00:00:00')]

In [67]:
%%sql

SELECT 
    CAST(Salary AS CHAR) AS SalaryString 
FROM 
    Employees
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('2954.55',),
 ('2254.49',),
 ('3119.15',),
 ('1861.08',),
 ('1744.21',),
 ('2004.07',),
 ('1991.55',),
 ('2100.5',),
 ('2333.33',)]

In [68]:
%%sql

SELECT 
    TRIM(ShipName) AS TrimmedShipName 
FROM 
    Orders
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Vins et alcools Chevalier',),
 ('Toms Spezialitten',),
 ('Hanari Carnes',),
 ('Victuailles en stock',),
 ('Suprmes dlices',),
 ('Hanari Carnes',),
 ('Chop-suey Chinese',),
 ('Richter Supermarkt',),
 ('Wellington Importadora',),
 ('HILARION-Abastos',)]

In [69]:
%%sql

UPDATE 
    Customers 
SET 
    ContactTitle = COALESCE(ContactTitle, 'N/A');

 * sqlite:///Northwind.db
93 rows affected.

[]

In [71]:
%%sql

SELECT 
    LEFT(City, 3) AS CitySubstring 
FROM 
    Customers
LIMIT 10;

 * sqlite:///Northwind.db
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT
    LEFT(City, 3) AS CitySubstring
FROM
    Customers
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [72]:
%%sql

SELECT 
    CONCAT(FirstName, ' ', LastName) AS FullName 
FROM 
    Employees
LIMIT 10;

 * sqlite:///Northwind.db
(sqlite3.OperationalError) no such function: CONCAT
[SQL: SELECT
    CONCAT(FirstName, ' ', LastName) AS FullName
FROM
    Employees
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [75]:
%sql SELECT * FROM Customers LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitucin 2222', 'Mxico D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquera', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'Mxico D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbkp', 'Christina Berglund', 'Order Administrator', 'Berguvsvgen  8', 'Lule', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
 ('BLONP', 'Blondesddsl pre et fils', 'Frdrique Citeaux', 'Marketing Manager', '24, place Klber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32'),
 ('BOLID', 'Blido Comidas preparadas', 'Martn Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
 ('BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41'),
 ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745')]

In [84]:
%%sql

SELECT
    DISTINCT TRIM(Phone),
    CompanyName
FROM 
    Customers 
WHERE 
    Country = 'France' 
    AND Phone IS NOT NULL
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('88.60.15.31', 'Blondesddsl pre et fils'),
 ('91.24.45.40', "Bon app'"),
 ('40.67.88.88', 'Du monde entier'),
 ('20.16.10.16', 'Folies gourmandes'),
 ('40.32.21.21', 'France restauration'),
 ('30.59.84.10', "La corne d'abondance"),
 ('61.77.61.10', "La maison d'Asie"),
 ('(1) 42.34.22.66', 'Paris spcialits'),
 ('(1) 47.55.60.10', 'Spcialits du monde'),
 ('78.32.54.86', 'Victuailles en stock')]

In [85]:
%%sql

SELECT 
    OrderID, 
    SUM(UnitPrice * Quantity * (1 - Discount)) as TotalPrice 
FROM 
    OrderDetails
GROUP BY 
    OrderID;

 * sqlite:///Northwind.db
Done.

[(10248, 440.0),
 (10249, 1863.4),
 (10250, 1813.0),
 (10251, 670.8),
 (10252, 3730.0),
 (10253, 1444.8000000000002),
 (10254, 625.2),
 (10255, 2490.5),
 (10256, 517.8),
 (10257, 1119.9),
 (10258, 2018.6),
 (10259, 100.8),
 (10260, 1746.2),
 (10261, 448.0),
 (10262, 624.8),
 (10263, 2464.8),
 (10264, 724.5),
 (10265, 1176.0),
 (10266, 364.79999999999995),
 (10267, 4031.0),
 (10268, 1101.2),
 (10269, 676.0),
 (10270, 1376.0),
 (10271, 48.0),
 (10272, 1456.0),
 (10273, 2142.4),
 (10274, 538.6),
 (10275, 307.2),
 (10276, 420.0),
 (10277, 1200.8),
 (10278, 1488.8),
 (10279, 468.0),
 (10280, 613.2),
 (10281, 86.5),
 (10282, 155.39999999999998),
 (10283, 1414.8000000000002),
 (10284, 1452.0),
 (10285, 2179.2),
 (10286, 3016.0),
 (10287, 924.0),
 (10288, 89.0),
 (10289, 479.4),
 (10290, 2169.0),
 (10291, 552.8),
 (10292, 1296.0),
 (10293, 848.7),
 (10294, 1887.6000000000001),
 (10295, 121.6),
 (10296, 1050.6),
 (10297, 1420.0),
 (10298, 3127.0),
 (10299, 349.5),
 (10300, 608.0),
 (10301, 755.0),
 (10302, 2708.7999999999997),
 (10303, 1242.0),
 (10304, 954.4),
 (10305, 4157.0),
 (10306, 498.5),
 (10307, 424.0),
 (10308, 88.8),
 (10309, 1762.0),
 (10310, 336.0),
 (10311, 268.79999999999995),
 (10312, 1614.8),
 (10313, 182.39999999999998),
 (10314, 2327.0),
 (10315, 516.8),
 (10316, 2835.0),
 (10317, 288.0),
 (10318, 240.4),
 (10319, 1191.1999999999998),
 (10320, 516.0),
 (10321, 144.0),
 (10322, 112.0),
 (10323, 164.4),
 (10324, 6155.9),
 (10325, 1497.0),
 (10326, 982.0),
 (10327, 2262.5),
 (10328, 1168.0),
 (10329, 4819.400000000001),
 (10330, 1940.0),
 (10331, 88.5),
 (10332, 2233.6),
 (10333, 954.0),
 (10334, 144.8),
 (10335, 2545.2),
 (10336, 316.8),
 (10337, 2467.0),
 (10338, 934.5),
 (10339, 3463.2),
 (10340, 2564.4),
 (10341, 412.0),
 (10342, 2300.8),
 (10343, 1586.0),
 (10344, 2856.0),
 (10345, 2924.8),
 (10346, 1731.2),
 (10347, 928.0),
 (10348, 396.0),
 (10349, 141.60000000000002),
 (10350, 713.4),
 (10351, 5677.6),
 (10352, 154.0),
 (10353, 10741.6),
 (10354, 568.8),
 (10355, 480.0),
 (10356, 1106.4),
 (10357, 1360.0),
 (10358, 452.0),
 (10359, 3654.4),
 (10360, 7390.2),
 (10361, 2273.6),
 (10362, 1549.6),
 (10363, 447.2),
 (10364, 950.0),
 (10365, 403.20000000000005),
 (10366, 136.0),
 (10367, 834.1999999999999),
 (10368, 1834.2),
 (10369, 2527.2),
 (10370, 1174.0),
 (10371, 91.19999999999999),
 (10372, 12281.2),
 (10373, 1708.0),
 (10374, 459.0),
 (10375, 338.0),
 (10376, 420.0),
 (10377, 1016.0),
 (10378, 103.19999999999999),
 (10379, 959.2),
 (10380, 1419.8),
 (10381, 112.0),
 (10382, 2900.0),
 (10383, 899.0),
 (10384, 2222.3999999999996),
 (10385, 864.0),
 (10386, 166.0),
 (10387, 1058.4),
 (10388, 1274.0),
 (10389, 1832.8),
 (10390, 2275.2),
 (10391, 86.39999999999999),
 (10392, 1440.0),
 (10393, 3302.6000000000004),
 (10394, 442.0),
 (10395, 2333.2000000000003),
 (10396, 1903.8000000000002),
 (10397, 843.1999999999999),
 (10398, 2736.0),
 (10399, 1765.6),
 (10400, 3063.0),
 (10401, 3868.6),
 (10402, 2713.5),
 (10403, 1005.9000000000001),
 (10404, 1675.0),
 (10405, 400.0),
 (10406, 2018.2),
 (10407, 1194.0),
 (10408, 1622.4),
 (10409, 319.20000000000005),
 (10410, 802.0),
 (10411, 1208.5),
 (10412, 372.0),
 (10413, 2123.2),
 (10414, 231.4),
 (10415, 102.4),
 (10416, 720.0),
 (10417, 11283.2),
 (10418, 1814.8),
 (10419, 2208.0),
 (10420, 1897.6),
 (10421, 1273.2),
 (10422, 49.8),
 (10423, 1020.0),
 (10424, 11493.2),
 (10425, 480.0),
 (10426, 338.20000000000005),
 (10427, 651.0),
 (10428, 192.0),
 (10429, 1748.5),
 (10430, 5796.0),
 (10431, 2523.0),
 (10432, 485.0),
 (10433, 851.1999999999999),
 (10434, 360.0),
 (10435, 631.6),
 (10436, 2210.8),
 (10437, 393.0),
 (10438, 567.5),
 (10439, 1078.0),
 (10440, 5793.1),
 (10441, 1755.0),
 (10442, 1792.0),
 (10443, 537.5999999999999),
 (10444, 1031.7),
 (10445, 174.9),
 (10446, 273.6),
 (10447, 914.4),
 (10448, 443.4),
 (10449, 1838.2),
 (10450, 531.4),
 (10451, 4277.4),
 (10452, 2096.0),
 (10453, 453.0),
 (10454, 414.0),
 (10455, 2684.0),
 (10456, 656.0),
 (10457, 1584.0),
 (10458, 3891.0),
 (10459, 1688.0),
 (10460, 234.8),
 (10461, 2051.6),
 (10462, 156.00000000000003),
 (10463, 713.3),
 (10464, 1848.0),
 (10465, 2719.0),
 (10466, 216.0),
 (10467, 235.2),
 (10468, 717.6),
 (10469, 1125.5),
 (10470, 1820.8),
 (10471, 1328.0),
 (10472, 1051.1999999999998),
 (10473, 230.39999999999998),
 (10474, 1249.1),
 (10475, 1770.8000000000002),
 (10476, 182.4),
 (10477, 672.0),
 (10478, 496.0),
 (10479, 10495.6),
 (10480, 756.0),
 (10481, 1472.0),
 (10482, 147.0),
 (10483, 704.0),
 (10484, 386.2),
 (10485, 1760.0),
 (10486, 1272.0),
 (10487, 925.1),
 (10488, 1560.0),
 (10489, 502.20000000000005),
 (10490, 3163.2),
 (10491, 305.3),
 (10492, 896.0),
 (10493, 676.0),
 (10494, 912.0),
 (10495, 278.0),
 (10496, 200.0),
 (10497, 1380.6),
 (10498, 575.0),
 (10499, 1412.0),
 (10500, 550.8),
 (10501, 149.0),
 (10502, 816.3),
 (10503, 2048.5),
 (10504, 1388.5),
 (10505, 147.89999999999998),
 (10506, 462.0),
 (10507, 881.25),
 (10508, 240.0),
 (10509, 136.8),
 (10510, 4735.4400000000005),
 (10511, 3000.0),
 (10512, 618.0),
 (10513, 2427.5),
 (10514, 8623.45),
 (10515, 10588.5),
 (10516, 2614.5),
 (10517, 352.0),
 (10518, 4150.05),
 (10519, 2356.0),
 (10520, 200.0),
 (10521, 225.5),
 (10522, 2657.8),
 (10523, 2715.9),
 (10524, 3192.65),
 (10525, 846.0),
 (10526, 1344.0),
 (10527, 1670.0),
 (10528, 396.2),
 (10529, 946.0),
 (10530, 4180.0),
 (10531, 110.0),
 (10532, 796.35),
 (10533, 2295.2),
 (10534, 517.4),
 (10535, 2156.5),
 (10536, 2085.0),
 (10537, 1823.8),
 (10538, 139.8),
 (10539, 355.5),
 (10540, 10191.7),
 (10541, 2162.8),
 (10542, 493.8),
 (10543, 1770.0),
 (10544, 417.2),
 (10545, 210.0),
 (10546, 2812.0),
 (10547, 1908.0),
 (10548, 275.1),
 (10549, 4181.5),
 (10550, 749.0),
 (10551, 1836.0),
 (10552, 880.5),
 (10553, 1546.3),
 (10554, 1819.5),
 (10555, 3680.5),
 (10556, 835.1999999999999),
 (10557, 1152.5),
 (10558, 2142.9),
 (10559, 547.8),
 (10560, 1257.3),
 (10561, 2844.5),
 (10562, 543.0),
 (10563, 965.0),
 (10564, 1299.0),
 (10565, 711.0),
 (10566, 2040.0),
 (10567, 3109.0),
 (10568, 155.0),
 (10569, 977.5),
 (10570, 2595.0),
 (10571, 647.75),
 (10572, 1565.6499999999999),
 (10573, 2082.0),
 (10574, 764.3),
 (10575, 2147.4),
 (10576, 838.45),
 (10577, 569.0),
 (10578, 477.0),
 (10579, 317.75),
 (10580, 1067.1),
 (10581, 387.5),
 (10582, 330.0),
 (10583, 2413.9),
 (10584, 625.0),
 (10585, 142.5),
 (10586, 28.0),
 (10587, 807.38),
 (10588, 3900.0),
 (10589, 72.0),
 (10590, 1140.0),
 (10591, 812.5),
 (10592, 543.65),
 (10593, 2493.0),
 (10594, 565.5),
 (10595, 6300.0),
 (10596, 1476.1),
 (10597, 800.1),
 (10598, 2388.5),
 (10599, 493.0),
 (10600, 479.8),
 (10601, 2285.0),
 (10602, 65.0),
 (10603, 1508.0),
 (10604, 256.5),
 (10605, 4326.0),
 (10606, 1413.0),
 (10607, 6475.400000000001),
 (10608, 1064.0),
 (10609, 424.0),
 (10610, 399.0),
 (10611, 808.0),
 (10612, 6375.0),
 (10613, 358.0),
 (10614, 464.0),
 (10615, 120.0),
 (10616, 5032.0),
 (10617, 1650.0),
 (10618, 2697.5),
 (10619, 1260.0),
 (10620, 57.5),
 (10621, 758.5),
 (10622, 605.0),
 (10623, 1429.75),
 (10624, 1393.24),
 (10625, 479.75),
 (10626, 1503.6),
 (10627, 1264.5),
 (10628, 450.0),
 (10629, 2775.05),
 (10630, 918.0),
 (10631, 62.0),
 (10632, 620.0),
 (10633, 6483.05),
 (10634, 4985.5),
 (10635, 1380.25),
 (10636, 629.5),
 (10637, 2896.25),
 (10638, 2720.05),
 (10639, 500.0),
 (10640, 945.0),
 (10641, 2054.0),
 (10642, 870.0),
 (10643, 1086.0),
 (10644, 1422.0),
 (10645, 1535.0),
 (10646, 1928.0),
 (10647, 636.0),
 (10648, 382.5),
 (10649, 1434.0),
 (10650, 1820.1999999999998),
 (10651, 530.4),
 (10652, 331.78),
 (10653, 1203.5),
 (10654, 668.7),
 (10655, 193.0),
 (10656, 671.35),
 (10657, 4371.6),
 (10658, 4668.0),
 (10659, 1291.6),
 (10660, 1701.0),
 (10661, 703.25),
 (10662, 125.0),
 (10663, 2032.0),
 (10664, 1515.75),
 (10665, 1295.0),
 (10666, 4666.9400000000005),
 (10667, 1921.0),
 (10668, 694.75),
 (10669, 570.0),
 (10670, 2301.75),
 (10671, 920.1),
 (10672, 4210.5),
 (10673, 412.35),
 (10674, 45.0),
 (10675, 1423.0),
 (10676, 534.85),
 (10677, 956.9),
 (10678, 5256.5),
 (10679, 660.0),
 (10680, 1682.5),
 (10681, 1327.0),
 (10682, 375.5),
 (10683, 63.0),
 (10684, 1768.0),
 (10685, 801.1),
 (10686, 1638.45),
 (10687, 6201.9),
 (10688, 3490.0),
 (10689, 630.0),
 (10690, 1150.0),
 (10691, 10164.8),
 (10692, 878.0),
 (10693, 2334.0),
 (10694, 4825.0),
 (10695, 642.0),
 (10696, 996.0),
 (10697, 1073.9),
 (10698, 3600.73),
 (10699, 114.0),
 (10700, 2048.0),
 (10701, 3370.0),
 (10702, 330.0),
 (10703, 2545.0),
 (10704, 595.5),
 (10705, 378.0),
 (10706, 1893.0),
 (10707, 1704.0),
 (10708, 180.4),
 (10709, 3424.0),
 (10710, 93.5),
 (10711, 4451.7),
 (10712, 1238.4),
 (10713, 2827.9),
 (10714, 2941.0),
 (10715, 1296.0),
 (10716, 706.0),
 (10717, 1331.75),
 (10718, 3463.0),
 (10719, 1125.67),
 (10720, 550.0),
 (10721, 972.5),
 (10722, 1570.0),
 (10723, 468.45),
 (10724, 638.5),
 (10725, 287.8),
 (10726, 655.0),
 (10727, 1710.0),
 (10728, 1296.75),
 (10729, 1850.0),
 (10730, 509.75),
 (10731, 1990.0),
 (10732, 360.0),
 (10733, 1459.0),
 (10734, 1498.35),
 (10735, 596.0),
 (10736, 997.0),
 (10737, 139.8),
 (10738, 52.349999999999994),
 (10739, 240.0),
 (10740, 1770.0),
 (10741, 285.0),
 (10742, 3118.0),
 (10743, 336.0),
 (10744, 919.9999999999999),
 (10745, 4529.8),
 (10746, 2311.7),
 (10747, 1912.85),
 (10748, 2196.0),
 (10749, 1080.0),
 (10750, 1871.25),
 (10751, 1701.46),
 (10752, 252.0),
 (10753, 88.0),
 (10754, 55.199999999999996),
 (10755, 2598.0),
 (10756, 2487.5),
 (10757, 3082.0),
 (10758, 1644.6),
 (10759, 320.0),
 (10760, 3304.0),
 (10761, 629.5),
 (10762, 4337.0),
 (10763, 616.0),
 (10764, 2540.0),
 (10765, 1684.0),
 (10766, 2310.0),
 (10767, 28.0),
 (10768, 1477.0),
 (10769, 1704.0),
 (10770, 315.0),
 (10771, 344.0),
 (10772, 3603.2200000000003),
 (10773, 2216.25),
 (10774, 875.0),
 (10775, 228.0),
 (10776, 6984.5),
 (10777, 280.0),
 (10778, 96.5),
 (10779, 1335.0),
 (10780, 720.0),
 (10781, 1132.35),
 (10782, 12.5),
 (10783, 1442.5),
 (10784, 1650.0),
 (10785, 387.5),
 (10786, 1913.85),
 (10787, 2760.8),
 (10788, 770.0),
 (10789, 3687.0),
 (10790, 850.0),
 (10791, 1926.0600000000002),
 (10792, 399.85),
 (10793, 191.1),
 (10794, 393.45),
 (10795, 2499.25),
 (10796, 2878.08),
 (10797, 420.0),
 (10798, 446.6),
 (10799, 1585.0),
 (10800, 1632.15),
 (10801, 4035.8),
 (10802, 3923.75),
 (10803, 1255.8),
 (10804, 2290.4),
 (10805, 2775.0),
 (10806, 572.1),
 (10807, 18.4),
 (10808, 1660.0),
 (10809, 140.0),
 (10810, 187.0),
 (10811, 852.0),
 (10812, 1852.0),
 (10813, 648.0),
 (10814, 2070.0),
 (10815, 40.0),
 (10816, 8891.0),
 (10817, 11490.7),
 (10818, 833.0),
 (10819, 477.0),
 (10820, 1140.0),
 (10821, 678.0),
 (10822, 237.89999999999998),
 (10823, 3107.5),
 (10824, 250.8),
 (10825, 1030.76),
 (10826, 730.0),
 (10827, 843.0),
 (10828, 932.0),
 (10829, 1764.0),
 (10830, 1974.0),
 (10831, 2684.4),
 (10832, 568.95),
 (10833, 1007.7),
 (10834, 1508.12),
 (10835, 851.0),
 (10836, 4705.5),
 (10837, 1254.0),
 (10838, 2584.5),
 (10839, 919.5),
 (10840, 264.0),
 (10841, 4581.0),
 (10842, 975.0),
 (10843, 212.0),
 (10844, 735.0),
 (10845, 4059.0),
 (10846, 1112.0),
 (10847, 6164.9),
 (10848, 931.5),
 (10849, 1052.1399999999999),
 (10850, 740.0),
 (10851, 2740.0),
 (10852, 2984.0),
 (10853, 625.0),
 (10854, 3490.0),
 (10855, 2275.25),
 (10856, 660.0),
 (10857, 2630.95),
 (10858, 649.0),
 (10859, 1438.25),
 (10860, 519.0),
 (10861, 3523.4),
 (10862, 581.0),
 (10863, 519.0),
 (10864, 282.0),
 (10865, 17250.0),
 (10866, 1461.6),
 (10867, 98.39999999999999),
 (10868, 2004.6),
 (10869, 1630.0),
 (10870, 160.0),
 (10871, 2083.4),
 (10872, 2166.8),
 (10873, 336.8),
 (10874, 310.0),
 (10875, 729.5),
 (10876, 917.0),
 (10877, 2086.0),
 (10878, 1620.0),
 (10879, 611.3),
 (10880, 1875.0),
 (10881, 150.0),
 (10882, 988.4),
 (10883, 36.0),
 (10884, 1450.6),
 (10885, 1209.0),
 (10886, 3127.5),
 (10887, 70.0),
 (10888, 605.0),
 (10889, 11380.0),
 (10890, 860.1),
 (10891, 388.35),
 (10892, 2200.0),
 (10893, 5502.11),
 (10894, 2898.0),
 (10895, 6379.4),
 (10896, 750.5),
 (10897, 10835.240000000002),
 (10898, 30.0),
 (10899, 144.0),
 (10900, 45.0),
 (10901, 934.5),
 (10902, 1015.8),
 (10903, 932.05),
 (10904, 1924.25),
 (10905, 360.0),
 (10906, 427.5),
 (10907, 108.5),
 (10908, 698.0),
 (10909, 670.0),
 (10910, 452.9),
 (10911, 858.0),
 (10912, 8267.400000000001),
 (10913, 958.75),
 (10914, 537.5),
 (10915, 539.5),
 (10916, 686.7),
 (10917, 365.89),
 (10918, 1930.0),
 (10919, 1122.8),
 (10920, 390.0),
 (10921, 1936.0),
 (10922, 742.5),
 (10923, 936.0),
 (10924, 2034.5),
 (10925, 559.0),
 (10926, 514.4),
 (10927, 800.0),
 (10928, 137.5),
 (10929, 1174.75),
 (10930, 2455.0),
 (10931, 837.0),
 (10932, 1925.4999999999998),
 (10933, 920.6),
 (10934, 500.0),
 (10935, 700.0),
 (10936, 570.0),
 (10937, 644.8),
 (10938, 3642.5),
 (10939, 750.0),
 (10940, 360.0),
 (10941, 4769.0),
 (10942, 560.0),
 (10943, 711.0),
 (10944, 1139.1),
 (10945, 245.0),
 (10946, 1407.5),
 (10947, 220.0),
 (10948, 2362.25),
 (10949, 4422.0),
 (10950, 110.0),
 (10951, 482.9),
 (10952, 491.2),
 (10953, 4675.0),
 (10954, 1902.1),
 (10955, 93.0),
 (10956, 677.0),
 (10957, 1762.7),
 (10958, 781.0),
 (10959, 155.0),
 (10960, 276.6),
 (10961, 1122.0),
 (10962, 3584.0),
 (10963, 68.0),
 (10964, 2052.5),
 (10965, 848.0),
 (10966, 1255.6),
 (10967, 910.4),
 (10968, 1408.0),
 (10969, 108.0),
 (10970, 280.0),
 (10971, 1733.0600000000002),
 (10972, 251.5),
 (10973, 291.55),
 (10974, 439.0),
 (10975, 717.5),
 (10976, 912.0),
 (10977, 2233.0),
 (10978, 1500.7),
 (10979, 4813.5),
 (10980, 310.0),
 (10981, 15810.0),
 (10982, 1014.0),
 (10983, 796.5),
 (10984, 1809.75),
 (10985, 2248.2),
 (10986, 2220.0),
 (10987, 2772.0),
 (10988, 3772.0),
 (10989, 1353.6),
 (10990, 4931.0),
 (10991, 2870.0),
 (10992, 69.6),
 (10993, 6527.25),
 (10994, 990.0),
 (10995, 1196.0),
 (10996, 560.0),
 (10997, 1980.0),
 (10998, 686.0),
 (10999, 1261.0),
 (11000, 1075.0),
 (11001, 2769.0),
 (11002, 1902.0),
 (11003, 326.0),
 (11004, 295.38),
 (11005, 586.0),
 (11006, 391.58000000000004),
 (11007, 2633.9),
 (11008, 4903.5),
 (11009, 702.0),
 (11010, 645.0),
 (11011, 960.0),
 (11012, 2974.0),
 (11013, 361.0),
 (11014, 270.2),
 (11015, 622.35),
 (11016, 491.5),
 (11017, 6750.0),
 (11018, 1575.0),
 (11019, 76.0),
 (11020, 744.0),
 (11021, 6941.49),
 (11022, 1402.0),
 (11023, 1500.0),
 (11024, 1966.81),
 (11025, 300.0),
 (11026, 1030.0),
 (11027, 1170.3),
 (11028, 2160.0),
 (11029, 1286.8),
 (11030, 16321.900000000001),
 (11031, 2393.5),
 (11032, 8902.5),
 (11033, 3592.0),
 (11034, 554.4),
 (11035, 1754.5),
 (11036, 1692.0),
 (11037, 60.0),
 (11038, 751.0),
 (11039, 3090.0),
 (11040, 200.0),
 (11041, 1887.0),
 (11042, 405.75),
 (11043, 210.0),
 (11044, 591.5999999999999),
 (11045, 1309.5),
 (11046, 1564.0),
 (11047, 1090.5),
 (11048, 525.0),
 (11049, 342.0),
 (11050, 900.0),
 (11051, 45.0),
 (11052, 1665.0),
 (11053, 3658.75),
 (11054, 305.0),
 (11055, 1727.5),
 (11056, 3740.0),
 (11057, 45.0),
 (11058, 858.0),
 (11059, 1838.0),
 (11060, 266.0),
 (11061, 510.0),
 (11062, 508.0),
 (11063, 1445.5),
 (11064, 4722.3),
 (11065, 252.56),
 (11066, 928.75),
 (11067, 86.85000000000001),
 (11068, 2384.8),
 (11069, 360.0),
 (11070, 1873.5),
 (11071, 510.0),
 (11072, 5218.0),
 (11073, 300.0),
 (11074, 244.29999999999998),
 (11075, 586.0),
 (11076, 1057.0),
 (11077, 1374.6)]

In [86]:
%%sql

SELECT 
    OrderID, 
    SUM(Quantity) as TotalQuantity 
FROM 
    OrderDetails
GROUP BY 
    OrderID
ORDER BY 
    TotalQuantity DESC 
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[(10895, 346), (11030, 330), (10847, 288), (10515, 286), (10678, 280)]

In [ ]:
%%sql

SELECT 
    OrderID, 
    OrderDate,
    RANK() OVER (ORDER BY OrderDate DESC) as Order_rank
FROM 
    Orders 
WHERE 
    CustomerID = 'ALFKI';

In [ ]:
%%sql

SELECT 
    OrderID, 
    Quantity, 
    SUM(Quantity) OVER (
    ORDER BY OrderID) as RunningTotal 
FROM 
    OrderDetails
GROUP BY 
    OrderID;

In [ ]:
%%sql

SELECT 
    CustomerID, 
    OrderDate, 
    LAG(OrderDate, 1) OVER 
        (PARTITION BY CustomerID 
        ORDER BY OrderDate) as PrevOrderDate, 
    julianday(OrderDate)-
    julianday(LAG(OrderDate, 1) OVER
            (PARTITION BY CustomerID 
            ORDER BY OrderDate)) as DateDiff
FROM 
    Orders;

In [ ]:
%%sql

SELECT 
    OrderID, 
    ProductID, 
    Quantity,
    AVG(Quantity) OVER (PARTITION BY ProductID ORDER BY OrderID ROWS BETWEEN 2 PRECEDING AND 0 FOLLOWING) as MovingAvgQuantity
FROM 
    OrderDetails
ORDER BY 
    ProductID, 
    OrderID;

In [ ]:
%%sql

SELECT customers.*
FROM customers
WHERE customers.CustomerID IN (
    SELECT orders.CustomerID
    FROM orders
    GROUP BY orders.CustomerID
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

In [ ]:
%%sql

WITH most_orders AS (
    SELECT orders.CustomerID
    FROM orders
    GROUP BY orders.CustomerID
    ORDER BY COUNT(*) DESC
    LIMIT 1
)
SELECT customers.*
FROM customers
JOIN most_orders
ON customers.CustomerID = most_orders.CustomerID;

In [ ]:
%%sql

WITH avg_order_value AS (
    SELECT AVG(OrderDetails.UnitPrice * OrderDetails.Quantity) AS average_value
    FROM OrderDetails
)
SELECT DISTINCT customers.CompanyName
FROM customers
JOIN orders ON customers.CustomerID = orders.CustomerID
JOIN OrderDetails ON orders.OrderID = OrderDetails.OrderID
WHERE (OrderDetails.UnitPrice * OrderDetails.Quantity) > (SELECT average_value FROM avg_order_value);

In [ ]:
%%sql

WITH most_ordered_products AS (
    SELECT customers.CustomerID, OrderDetails.ProductID, COUNT(*) AS order_count
    FROM customers
    JOIN orders ON customers.CustomerID = orders.CustomerID
    JOIN OrderDetails ON orders.OrderID = OrderDetails.OrderID
    GROUP BY customers.CustomerID, OrderDetails.ProductID
)
SELECT customers.CompanyName, products.ProductName, max_order_count
FROM (
    SELECT CustomerID, MAX(order_count) AS max_order_count
    FROM most_ordered_products
    GROUP BY CustomerID
) AS max_order_count
JOIN most_ordered_products ON max_order_count.CustomerID = most_ordered_products.CustomerID AND max_order_count.max_order_count = most_ordered_products.order_count
JOIN customers ON most_ordered_products.CustomerID = customers.CustomerID
JOIN products ON most_ordered_products.ProductID = products.ProductID;

In [ ]:
%%sql

WITH avg_reports AS (
    SELECT AVG(report_count) AS average_count
    FROM (
        SELECT COUNT(*) AS report_count
        FROM employees
        JOIN employees AS reports ON employees.EmployeeID = reports.ReportsTo
        GROUP BY employees.EmployeeID
    ) AS report_counts
)
SELECT employees.*
FROM employees
JOIN employees AS reports ON employees.EmployeeID = reports.ReportsTo
GROUP BY employees.EmployeeID
HAVING COUNT(*) > (SELECT average_count FROM avg_reports);